<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean name="address"
		class="in.co.javacoder.springcore.constructorinject.Address"
		p:doorNumber="501" p:street="first street" p:city="First Street" />
	
	<bean name="employee" 
		class="in.co.javacoder.springcore.constructorinject.Employee" 
		c:id="103" 
		c:address-ref="address" 
		c:name="Arif" />
		
	
		
		<!-- <constructor-arg value = "102" />
		
		<constructor-arg>
			<ref bean="address" />
		</constructor-arg>
			
		<constructor-arg value = "Arif" /> 

		

	</bean> -->

	<!-- <bean name="address"
		class="in.co.javacoder.springcore.constructorinject.Address"
		p:doorNumber="501" p:street="first street" p:city="First Street" />

	<bean name="employee"
		class="in.co.javacoder.springcore.constructorinject.Employee">
		
		<constructor-arg>
			<ref bean="address" />
		</constructor-arg>
		
		<constructor-arg>
			<value>101</value>
		</constructor-arg>
		<constructor-arg>
			<value>finance</value>
		</constructor-arg>

		<constructor-arg>
			<value>Arif</value>
		</constructor-arg>

	</bean> -->

</beans>